<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
</head>

<body>
  <div class="site">
    <nav class="tabs">
      <a href="{{ '/' | relative_url }}">Home</a> |

      {% assign pages_list = site.html_pages | sort: "path" %}
      {% for p in pages_list %}
      <a href="{{ p.url | relative_url }}">{{ p.title | default: p.name | remove: '.md' }}</a> |
      {% endfor %}
    </nav>

    <hr>

    <main>
      {{ content }}
    </main>
  </div>
</body>

</html>
